@model IEProject1.Models.Place

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_rating_people)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_rating_people)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo_reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo_reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field.FieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Field.FieldName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
