<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />*@
    @*<title>@ViewBag.Title</title>*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/semantic")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @Scripts.Render("~/Scripts/semantic.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    <!-- Bootstrap core CSS -->
    <link href="~/Vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Vendor/custom/css/scrolling-nav.css" rel="stylesheet">

    <script>
        $('#search-select')
            .dropdown()
            ;
    </script>
</head>
<body>
    @RenderBody()
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; NewVics 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Vendor/jquery/jquery.min.js"></script>
    <script src="~/Vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Vendor/custom/js/scrolling-nav.js"></script>
</body>
</html>
