@model IEProject1.Models.Content

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<!-- Following Menu -->
<div class="ui large top fixed menu">
    <div class="ui container">
        <a href="@Url.Action("Page1", "Contents")" class="item">Home</a>
        @*<a href="@Url.Action("Edit", "Contents", new { id = 1 })" class="item">Sports</a>
            <a href="@Url.Action("Edit", "Contents", new { id = 2 })" class="item">Religion</a>
            <a href="@Url.Action("Edit", "Contents", new { id = 3 })" class="item">Yoga</a>
            <a href="@Url.Action("Edit", "Contents", new { id = 4 })" class="item">Culture</a>
            <a href="@Url.Action("Create", "Contents")" class="item">Statistics</a>*@
        <a href="@Url.Action("Index", "Places")" class="item">Sports</a>
        <a href="@Url.Action("Index", "RPlaces")" class="item">Religion</a>
        <a href="@Url.Action("Index", "YPlaces")" class="item">Yoga&Taichi</a>
        <a href="@Url.Action("Details", "Places")" class="item">Food</a>
    </div>
</div>

<div class="ui container" style="padding-top:100px">
    <div class="ui three column grid">
        <div class="row">
            <img src="@Url.Content("~/Content/Images/sport1.png")">
        </div>

        <div class="row">
            <img src="@Url.Content("~/Content/Images/sports2.png")">
        </div>

        <div class="row">
            <img src="@Url.Content("~/Content/Images/cuture.png")">
        </div>

    </div>
</div>