@model IEnumerable<IEProject1.Models.Content>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Sports</a>
            <a class="item">Religion</a>
            <a class="item">Yoga</a>
            <a class="item">Culture</a>
        </div>
    </div>


    <div class="pusher" style="height:100%">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <div class="ui vertical menu">
                        <div class="ui dropdown item">
                            Menu
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                @*<a href="@Url.Action("Edit", "Contents", new { id= 1 })" class="item">Sports</a>
        <a href="@Url.Action("Edit", "Contents", new { id= 2 })" class="item">Religion</a>
        <a href="@Url.Action("Edit", "Contents", new { id= 3 })" class="item">Yoga</a>
        <a href="@Url.Action("Edit", "Contents", new { id= 4 })" class="item">Culture</a>
        <a href="@Url.Action("Create", "Contents")" class="item">Statistics</a>*@
                                <a href="@Url.Action("Index", "Places")" class="item">Sports</a>
                                <a href="@Url.Action("Index", "RPlaces")" class="item">Religion</a>
                                <a href="@Url.Action("Index", "YPlaces")" class="item">Yoga&Taichi</a>
                                <a href="@Url.Action("Details", "Places")" class="item">Food</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui text container" style="padding-top:230px">
                <h1 class="ui inverted header">NewVics</h1>
                <h2>Do whatever you want when you want to.</h2>
                @*<div class="ui huge primary button" href="@Url.Action("Index", "Content")">See Activities<i class="right arrow icon"></i></div>*@
            </div>
        </div>
    </div>

    <div class="ui grid container" style="text-align:center;padding-top:10px">
        <div class="ui text container">
            <h1 class="ui header">See the most popular activities</h1>
            <h2>There are different kinds of activities that you can participate in. The following are the top eight most popular activies.</h2>
            <div class="ui huge violet button" style="color:white">
                <a href="@Url.Action("Create", "Contents")">See statistics</a>
            </div>
        </div>
    </div>


    @*<div class="ui grid container">
            @foreach (var item in Model)
            {
                <div class="four wide column ui card">
                    <div class="image">
                        <img src="~/Content/Images/@item.ImageName">
                    </div>
                    <div class="content">
                        <a class="header">@Html.DisplayFor(modelItem => item.ContentName)</a>
                        <div class="description">
                            @Html.DisplayFor(modelItem => item.Comment)
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="user icon"></i>
                            The popularity of this activity is: @Html.DisplayFor(modelItem => item.Popularity)
                        </a>
                    </div>
                </div>
            }
        </div>*@
    @*<div class="ui grid container">
            <div class="ui four cards">
                @foreach (var item in (IEnumerable<IEProject1.Models.Content>)ViewData["contents"])
                {
                    <div class="card">
                        <div class="image">
                            <img src="~/Content/Images/@item.ImageName">
                        </div>
                        <div class="extra">
                            Rating:@item.Popularity
                            <div class="ui accurate star widget">
                                <div class="highlight" style="width:75%"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>*@
    <div class="ui grid container">
        <div class="ui four cards">
            @foreach (var item in (IEnumerable<IEProject1.Controllers.Trend>)ViewData["trends"])
            {
              <div class="card">
                <div class="content" style="text-align:center">
                    <div class="header">@item.Name</div>
                   </div>
                <div class="ui bottom attached button">
                   <i class="arrow alternate circle right icon"></i>
                   <a href="@item.Url">Go to Twitter</a>
                  </div>
                </div>
            }

        </div>
    </div>

    <div name="FieldChoose" class="ui vertical stripe segment">
        <div class="ui text container">
            <h1 class="ui header">Choose fields you like</h1>
            <h2>Now let's start and choose your favourite fiels and see some interesting activies.</h2>
        </div>
    </div>

    <div class="ui grid container">
        <div class="ui internally celled grid">
            <div class="row">
                <div class="eight wide column">
                    @*<img src="~/Content/Images/sports.jpg">*@
                    <a href="@Url.Action("Index", "Places")" class="links">
                        <img src="@Url.Content("~/Content/Images/sports.jpg")">
                    </a>
                </div>
                <div class="eight wide column">
                    @*<img src="~/Content/Images/Music.jpg">*@
                    <a href="@Url.Action("Index", "RPlaces")" class="links">
                        <img src="@Url.Content("~/Content/Images/religion.jpg")">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="eight wide column">
                    @*<img src="~/Content/Images/egames.jpg">*@
                   <a href="@Url.Action("Index", "YPlaces")" class="links">
                        <img src="@Url.Content("~/Content/Images/yoga.jpg")">
                    </a>
                </div>
                <div class="eight wide column">
                    @*<img src="~/Content/Images/photography.jpg">*@
                    <a href="@Url.Action("Details", "Places")" class="links">
                        <img src="@Url.Content("~/Content/Images/food.jpg")">
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>
